* { margin: 0; padding: 0; box-sizing: border-box; }
/* custom property */
:root { --accent-color: #800000; }
	--accent-color: #800000;  /* could also be coded #800 */
}

/* default styles */
body {width: 80%; 
	margin: 0 auto;
	border: 2px solid var(--accent-color);
	font-family: Arial, Helvetica, sans-serif
}
h1, h2, h3, p, ul { padding-top: .5em; padding-bottom: .5em; }
ul { margin-left: 2em; }
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
a:hover, a:focus{
	font-style: italic;
	color: var(--accent-color);
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 130%;
	color: var(--accent-color);
}
h3 {
	font-size: 105%;
}

/* the styles for the header */
header {
	& h2 {
		font-size: 175%;
		text-indent: 0;
		padding-bottom: 0
	}
	& h3 {
		font-size: 130%;
		font-style: italic;
		text-indent: 0;
		padding-bottom: 1em;
	}
	& img {
		float: left;
		margin: .75em 1em
	}
}

/* the styles for the main content */
main {
	clear: left;
}
main { padding: 1 em; }
main h1 {
	border-top: 2px solid var(--accent-color);
	border-bottom: 2px solid var(--accent-color);
}
/* the styles for the footer */
footer {
	& p {
		text-align: center;
	}
}

/* CSS class */
.large {
	font-size: 125%;
}
